/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #264653;
  --color-secondary: #f4a261;
  --color-tertiary: #e9c46a;
  --color-background1: #2a9d8f;
  --color-background2: #e76f51;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-background1), var(--color-background2));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.btn-primary {
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  cursor: pointer;
  min-height: 25vh;
  min-width: 40vw;
  padding-bottom: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  font-weight: 200;
  font-size: 5rem;
  padding: 1rem;
  border-radius: 1rem; }
  .btn-primary--tertiary {
    background-color: var(--color-tertiary);
    box-shadow: 0 1rem 2rem rgba(244, 162, 97, 0.5); }
    .btn-primary--tertiary:hover {
      transform: translateY(0.15rem);
      box-shadow: 0 1rem 2rem rgba(244, 162, 97, 0.6); }
  .btn-primary--submit {
    background-color: var(--color-background1);
    min-height: 10vh;
    min-width: 20vw;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(42, 157, 143, 0.5); }
    .btn-primary--submit:hover {
      box-shadow: 0 1rem 2rem rgba(42, 157, 143, 0.6); }

.container {
  margin: 6rem 4rem auto;
  padding: 2rem 4rem 4rem 4rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 80vh;
  border-radius: 25px; }
  .container__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 1rem 0 0 1rem;
    min-height: 60vh; }

.input {
  position: relative;
  padding: 7rem; }
  .input--text {
    display: block;
    padding: 2rem 2rem;
    color: inherit;
    width: 60vw;
    font-size: 3rem;
    line-height: 1.5rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 0.5s; }
    .input--text::placeholder {
      color: var(--color-secondary); }
    .input--text:focus {
      outline: none;
      box-shadow: 0.2rem 0.8rem 1.6rem rgba(0, 0, 0, 0.6); }
  .input--label {
    display: block;
    position: absolute;
    padding: 2rem 0 0 0;
    margin: auto;
    color: #fff;
    font-family: inherit;
    font-size: 2rem;
    font-weight: inherit;
    line-height: 1.5rem;
    opacity: 1; }
  .input--text-box {
    font-size: 4vw;
    display: block;
    width: 50vw;
    height: 10vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f8f8f8;
    resize: none; }

.header-3 {
  font-size: 5vw;
  color: var(--color-grey-light-3); }

.header-1 {
  position: relative;
  z-index: 2;
  font-size: 30em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px #ac8c39, 2px 2px #997c33, 3px 3px #866d2d, 4px 4px #82692b, 5px 5px #7e662a, 6px 6px #7a6329, 7px 7px #776028, 8px 8px #735d26, 9px 9px #6f5a25, 10px 10px #6b5724, 10px 10px 30px rgba(0, 0, 0, 0.7); }

.main-page__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  padding: 1rem 0 0 1rem;
  min-height: 60vh; }

.main-page__modal {
  display: none;
  visibility: none; }

.page404 {
  width: 50vw;
  height: 40vh;
  color: var(--color-tertiary);
  display: flex;
  overflow: hidden;
  font-family: "Bangers", cursive;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden; }
  .page404__notfound {
    font-size: 5rem;
    box-shadow: 0.2rem 0.8rem 1.6rem black;
    padding: 5rem;
    color: var(--color-primary); }
