{{ define "index.tmpl"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

    <title>D4W - Down for whatever</title>
  </head>
  <body>
    <section class="main-page">
      <div class="container">
        <div class="container__options">
          <a href="host">
            <button class="btn-primary btn-primary--tertiary" type="button">
              Host A Room
            </button>
          </a>
		   <a href="#modal"> 
          <button class="btn-primary btn-primary--tertiary">Join A Room</button>
		  </a>
        </div>
      </div>
	        <div class="modal" id="modal">
        <div class="modal__content">
          <div class="modal__input">
            <input
              type="text"
              id="id"
              class="input--text"
              placeholder="Room"
              maxlength="4"
            />
            <label class="input--label" for="id">Type Room Number</label>
          </div>
          <div class="modal__button">
            <button class="btn-primary--submit btn-primary--small">
              Join Room
            </button>
          </div>
          <a href="#main-page" class="modal__close">&times;</a>
        </div>
      </div>
    </section>
  </body>
</html>


{{end}}
